p {
    color: #444444;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial,sans-serif;
    margin: 0;
}
h1 {
    color: #500000;
    font-size: 24px;
    font-weight: bold;
    line-height: 45px;
    font-family: Arial,sans-serif;
    margin: 0;
}
h2 {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    font-family: Arial,sans-serif;
    margin: 0 0 18px 0;
}
a {
    color: #1155cc;
    font-weight: bold;
    font-family: Arial,sans-serif;
    text-decoration: none;
}
img {
    max-width: 580px;
}